#bookies { 	list-style-type: none;
			margin-left: 0; }
	#bookies li { 	border-bottom: 1px solid #eee; float: left; margin-bottom: 4px;
					background-color: #fff; }
		#bookies li div { 	display: inline; float: left; 
							font-size: 14px; }
	#bookies .bookie_info { font-size: 14px; }
	#bookies .bookie_murl { font-size: 12px; }
		#bookies .header { 	background: none repeat scroll 0 0 #434A48; color: #fff; font-family: Verdana, Arial, sans-serif; font-weight: bold; 
								margin-bottom: 8px; margin-left: 0; padding: 4px; }
			#bookies .header div { font-size: 16px !important; }
			
#bookies label { 	display: inline;
					font-size: 14px; }
.drag_handle { 	float: right;
				cursor: pointer; }
#status { display: none; padding-left: 4px; }
	#status.saving { color: magenta; display: block; }
	#status.success { color: green; display: block; }
	#status.error { color: red; display: block; }
			
small.reset { padding-left: 0 !important; }

.round_corners { 	-webkit-border-bottom-left-radius: 5px; -webkit-border-top-right-radius: 5px;
					-moz-border-bottom-left-radius: 5px; -moz-border-top-right-radius: 5px;
					border-bottom-left-radius: 5px 5px; border-top-right-radius: 5px 5px; }
					
#navigation { 	-webkit-border-bottom-left-radius: 15px;
				-moz-border-bottom-left-radius: 15px;
				border-bottom-left-radius: 15px 15px; }
				
#head { -webkit-border-top-right-radius: 15px;
		-moz-border-top-right-radius: 15px;
		border-top-right-radius: 15px 15px; }